body {
    font-size: normal;
    margin:0;
    padding:0;
    width:1290px;
    height: 600px;
    text-align: center;
    
}



.menu-bar{
    background-color: azure;
    text-align: center;
    

}

.header {
    display: block;
    
}

h2 {
    font-size: 42px;
    display: block;
}

.content_box {
    font-family: 나눔고딕;
    text-align: center;
   
}

.content_box_left{
    float: left;
    width: 10%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #333;
    letter-spacing: -0.2px;
    
}

.cotent_box_right {
    float: right;
    width: 90%;
    font-size: 15px;
    color: #606167;
    margin: 15px 0 0;
    letter-spacing: -0.1px;

}

.company_profile {
    
}

.company_profile_left {
    float:left;
    width: 10%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #333;
    letter-spacing: -0.2px;
    margin-top: 50px;
}

.company_profile_right {
    float: right;
    width:50%;
    
    
}

table{
    display: table;
    
}

th {
    display: table-cell;
}

.table th{
    height: 56px;
    border-bottom: 1px solid #efefef;
    font-family:  "돋움";
    font-size: 15px;
    color: #333;
    text-align: left;

}

.table td
{
    border-bottom: 1px solid #efefef;
    font-family: "NanumSquare-B", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    font-size: 15px;
    color: #333;

}


