.box {
    width: 100px;
    height: 100px;
    background: tomato;
    margin: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.box:hover {
    position: relative;
    left: 100px;
    top:30px;
}