.container {
    width: 600px;
    display: grid;
    grid-template-areas: repeat(7 ,100px);
    grid-template-columns: repeat(3, 1fr);
}

.item {
    border: 10px solid red;
}

.item:nth-child(1) {
    grid-column: 1/3;
}